<div id="contact" class="collapse">
  <div class="card card-body bg-danger text-white py-5">
    <h2>Contact</h2>
    <p class="lead">You can contact me from below details or mail me from here too</p>
  </div>
  <div class="card card-body py-5">
    <h3>Get In Touch</h3>
    <p class="lead">please fill the below form to contact</p>

    <form>
      <div class="form-group">
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text bg-danger text-white">
              <i class="fa fa-user"></i>
            </span>
          </div>
          <input type="text" placeholder="Name" id="" class="form-control bg-dark text-white">
        </div>
      </div>

      <div class="form-group">
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text bg-danger text-white">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
          <input type="email" placeholder="Email" id="" class="form-control bg-dark text-white">
        </div>
      </div>

      <div class="form-group">
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text bg-danger text-white">
              <i class="fa fa-pencil-alt"></i>
            </span>
          </div>
          <textarea cols="30" rows="10" class="form-control bg-dark text-white" placeholder="Message"></textarea>

        </div>
      </div>

      <input type="submit" value="Submit" class="btn btn-danger btn-block btn-lg">
    </form>
  </div>
</div>