<div id="home" class="collapse show">
  <div class="card card-body bg-primary text-white py-5">
    <h2>Introduction</h2>
    <p class="lead">Following is the breif self evaluation of my skillset as a full stack developer</p>
  </div>


  <div class="card card-body py-5">
    <h3>My Skills</h3>
    <p>Following is the self evaluation of my skillset as a FULL STACK DEVELOPER</p>
    <hr>
    <h4>
      <em>HTML,CSS,JS,JQUERY,BOOTSTRAP</em>
    </h4>
    <div class="progress mb-3">
      <div class="progress-bar bg-success" style="width:88%;">
      </div>
    </div>

    <hr>
    <h4>NODE </h4>
    <div class="progress mb-3">
      <div class="progress-bar bg-success" style="width:65%;">
      </div>
    </div>
    <hr>
    <h4>TASK RUNNERS:-
      <em>Gulp,Grunt,Webpack</em>
    </h4>
    <div class="progress mb-3">
      <div class="progress-bar bg-success" style="width:75%;">
      </div>
    </div>

    <hr>
    <h4>PHP :-
      <em>object oriented PHP, DRUPAL</em>
    </h4>
    <div class="progress mb-3">
      <div class="progress-bar bg-success" style="width:55%;">
      </div>
    </div>

    <hr>
    <h4>DATA BASE SYSTEMS:-
      <em>SQL, NOSQL(MONGODB
        <i>Moongoose</i>)</em>
    </h4>
    <div class="progress mb-3">
      <div class="progress-bar bg-success" style="width:35%;">
      </div>
    </div>

  </div>
</div>