<div id="resume" class="collapse">
  <div class="card card-body bg-success text-white py-5">
    <h2>My Resume</h2>
    <p class="lead">I am experienced full stack developer I have mentioned few of my work below</p>
  </div>
  <div class="card card-body py-5">
    <h3>Where have i worked?</h3>
    <p class="lead">I have worked in two companies throughtout my carrier</p>
    <div class="card-deck">
      <div class="card col-lg-6 col-xs-12">
        <div class="card-body">

          <img src="img/company/AM.png" alt="Card image cap" class="mx-auto d-block img-fluid">
          <hr class="d-block border-bottom">
          <h4 class="card-title">
            ARTIFITIAL MACHINES
          </h4>
          <p class="card-text">Artificial Machines is a Consumer Experience Engineering company where they build the product
            with hardware with integrated software. In Artificial Machines i got to know latest and greatest technologies
            like flash ,html5 , jquery,drupal php</p>
          <p class="p-2 mb-3 bg-dark text-white">
            Position:software developer
          </p>

          <p class="p-2 mb-3 bg-dark text-white">
            Address: <em>802, Zero One, Mundhwa Road, Koregaon Park, Pune, India - 411036.</em>
          </p>

          <p class="p-2 mb-3 bg-dark text-white">
            ARTIFITIAL MACHINES : <a href="http://www.artificialmachines.com/" class="site_link"><em>http://www.artificialmachines.com/</em></a>
          </p>
        </div>
        <div class="card-footer">
          <h6 class="text-muted">
            Dates:june 2013-August 2014
          </h6>
        </div>
      </div>


      <div class="card col-lg-6 col-xs-12">
        <div class="card-body">

          <img src="img/company/theonlinestudio.png" alt="Card image cap" class="mx-auto d-block img-fluid">
          <hr class="d-block border-bottom">
          <h4 class="card-title">
            THE ONLINE STUDIO
          </h4>


          <p class="card-text">The online studio make fast, cost efficient, expertly crafted design and digital production
            to a reality. In india this company is known for the name of AMC-STUDIO. I am having great experience in here
            with the design and development team. I got the knowledge of the following technologies <em>HTML,CSS,JS,PHP,ANGULAR,
              node , task runners, Nosql database moongoose</em>
          </p>
          <p class="p-2 mb-3 bg-dark text-white">
            Position:Front End developer
          </p>

          <p class="p-2 mb-3 bg-dark text-white">
            Address: <em>12 Melcombe Place, London, NW1 6JJ</em>
            <br> AMC-STUDIO :<em>404,Konark Epitome, Mhada Colony, Vimannagar, Pune - 411014.</em>
          </p>

          <p class="p-2 mb-3 bg-dark text-white">
            THE ONLINE STUDIO : <a href="https://theonlinestudio.co.uk/our-story" class="site_link"><em>https://theonlinestudio.co.uk/</em></a>
          </p>
        </div>
        <div class="card-footer">
          <h6 class="text-muted">
            Dates:sept 2014-till Date
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>